.app{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1{
    font-size: 75px;
}

span{
    margin: 12px 0;
}

.area.input{
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.area-input input{
    width: 100%;
    margin-bottom: 12px;
    height: 46px;
    background-color: black;
    border: 0;
    border-radius: 6px;
    color: white;
    padding: 0 12px;
    text-align: center;
    font-size: 18px;
}

.area-input button{
    width: 100%;
    height: 46px;
    border: 0;
    border-radius: 6px;
    background-color: #27ccbe;
    color: white;
    font-size: 18px;    
}

h2 {
    margin-top: 24px;
}


@media (max-width: 600px) {
    h1{
        font-size: 35px;
    }
    
    span{
        font-size: 10px;
    }

    .area-input{
        width: 80%;
    }

    .area-input input{
        font-size: 80%;
    }
    
    .area-input button{
        font-size: 80%;
    }

    footer{
        width: 80%;
    }

    h2{
        font-size: 14px;
    }
}